* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.smooth-scroll {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }

  .smooth-scroll:hover {
    color: blue; /* Zmiana koloru przy najechaniu myszką (opcjonalne) */
  }
/* Navigarion on website */
nav {
	height: 8em;
	width: 80em;
	background-color: rgb(48, 48, 47);
	display: flex;
	align-items: center;
	margin-right: auto;
	margin-left: 50%;
	opacity: 80%;
	z-index: 1;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	position: fixed;
}

.nav {
	font-size: 1.5em;
	width: 40em;
	display: flex;
	justify-content: space-around;
	font-size: 2em;
	z-index: 1;
	border-bottom-right-radius: 2em;
}

.nav a {
	color: rgb(224, 223, 223);
	text-decoration: none;
	opacity: 100%;
	font-weight: 600;
}

.nav a:hover {
	color: rgb(189, 118, 118);
	transform: scale(1.1);
	cursor: pointer;
}

/* Heder on website */

.container-foto {
	height: 80em;
	/* margin-top: -8em; */
	background-image: url(/photos/simon-maage-xw-vvvXq3rA-unsplash.jpg);
	background-size: cover;
	background-position: center;
}
.foto-logo {
	height: 45em;
	width: 35em;
	background-image: url(/photos/logo-removebg-preview.png);
	background-size: cover;
	background-position: center;
}
/* First Page */
.border{
	height:1em;
	background: linear-gradient(
		to bottom left,
		rgb(161, 46, 46),
		rgb(129, 128, 128));
}
.first-page {
	height: auto;
	background: linear-gradient(
		to bottom left,
		rgb(70, 69, 69),
		rgb(165, 164, 163)
	);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 7em;
}
.about {
	height: 20em;
	width: 25em;
	font-size: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 4em;
	font-family:Arial, Helvetica, sans-serif;
	color:rgb(41, 41, 41);
}
.galery-wrap {
	height: 63em;
	width: 100em;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 33% 33% 33%;
    gap: 1em;
}

.galery-foto {
	height: 20em;
	border: dotted 2px white;
	align-items: center;
	border-radius: 1.5em;
	padding-top:1em;
    padding-right:1em;
    padding-left:1em;
}

/* MAIN WEBSITE */
.border2{
	height:1em;
	background: linear-gradient(
		to bottom left,
		rgb(161, 46, 46),
		rgb(173, 172, 171));
}
.SECTION-CONTAINER {
	height: auto;
	background-color: rgb(165, 164, 163);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 11em;
	position: relative;
}

.wrapp-section {
	height: auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 1em;
    gap: 2em;
}
.wrapp-box {
	height: 50em;
	width: 40em;
	border: solid 2px rgb(0, 0, 0);
	box-shadow: 2px 2px 10px;;
	border-radius: 1em;
	display: flex;
	justify-content: center;
	
	
}
.foto-ofert{
	height:50%;
	width:100%;
	padding-top:-1em;
	background-image: url(/photos/siatka11.avif);
	background-size: cover;
	background-position: center;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}
.standard{
	background-color: rgb(210, 212, 212);
	display: flex;
	justify-content: center;
	
	
}
.title{
	position: absolute;
	padding-top:2em;
}
.oferta{
	position:static;
	display: flex;
	align-self: flex-start;
	justify-content: center;
	
}
.foto-standard{
	height:50%;
	width:100%;
	padding-top:-1em;
	background-image: url(/photos/siatka11.avif);
	background-size: cover;
	background-position: center;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;

}
.foto-ozdobne{
	
}
.foto-budownictwo{
	background-image: url(/photos/budowa.webp);
}
.foto-koparka{
	background-image: url(/photos/koparka.jpg);
}
.foto-wycena{
	background-image: url(/photos/wycena.webp);
}
.foto-pozostałe{

}



.border3{
	height:1em;
	background: linear-gradient(
		to bottom left,
		rgb(161, 46, 46),
		rgb(173, 172, 171));
}

.kontakt{
	height:40em;
	background-color: aquamarine;
}




.footer{
	height:20em;
	background:black;
}





    /* WRAPP_BOX ELEMENTS FOTO */

	.wrapp {
		background-position: center;
		border-radius: 1.5em;
		border: solid 1px;
		box-shadow: 2px 2px 10px;
	}

	.foto1{
		background-image: url(/photos/400592734_253552677714154_5727121380641852041_n.jpg);
		background-size: cover;
	background-position: center;
	
	}
	.foto2{
		background-image: url(/photos/401851179_253552337714188_1302958130231227265_n.jpg);
		background-size: cover;
	background-position: center;
	

	}
	.foto3{
		background-image:url(/photos/joniec.jpg);
		background-size: cover;
	background-position: center;
	

	}
	.foto4{
		background-image: url(/photos/tynk.jpg);
		background-size: cover;
	background-position: center;

	}
	.foto5{
		background-image: url(/photos/elementyJoniec.jpg);
		background-size: cover;
	background-position: center;
	
	}
	.foto6{
		background-image: url(/photos/zdj\ siatka.jpg);
		background-size: cover;
	background-position: center;
	
	}
	.foto7{
		background-image: url(/photos/przemysłowa\ bryły.jpg);
		background-size: cover;
	background-position: center;
	
	}
	.foto8{
		background-image: url(/photos/elementy.jpg);
		background-size: cover;
	background-position: center;

	}
	.foto9{
		background-image: url(/photos/joniecMOr.jpg);
		background-size: cover;
	background-position: center;
	
	}

	
	